<div class="login-container">

  <div class="login-card">

    <div class="login-header">

      <h1>Smart AI Dashboard</h1>

      <p>
        Enterprise AI Platform
      </p>

    </div>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="login()">

      <!-- Email -->

      <mat-form-field appearance="outline" class="full-width">

        <mat-label>Email</mat-label>

        <input
          matInput
          type="email"
          formControlName="email">

        @if (loginForm.get('email')?.hasError('required')) {

          <mat-error>
            Email is required
          </mat-error>

        }

        @if (loginForm.get('email')?.hasError('email')) {

          <mat-error>
            Please enter a valid email
          </mat-error>

        }

      </mat-form-field>

      <!-- Password -->

      <mat-form-field appearance="outline" class="full-width">

        <mat-label>Password</mat-label>

        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password">

        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword = !hidePassword">

          <mat-icon>

            {{ hidePassword ? 'visibility' : 'visibility_off' }}

          </mat-icon>

        </button>

        @if (loginForm.get('password')?.hasError('required')) {

          <mat-error>

            Password is required

          </mat-error>

        }

        @if (loginForm.get('password')?.hasError('minlength')) {

          <mat-error>

            Password must be at least 6 characters

          </mat-error>

        }

      </mat-form-field>

      @if (errorMessage) {

        <div class="error-message">

          {{ errorMessage }}

        </div>

      }

      <button
        mat-flat-button
        class="login-button"
        type="submit"
        [disabled]="loading">

        @if (!loading) {

          Login

        }

        @if (loading) {

          <mat-spinner diameter="22"></mat-spinner>

        }

      </button>

    </form>

  </div>

</div>