@import "tailwindcss";

@source "./**/*.html";

body {
  background-color: var(--mat-sys-surface, #fff);
}

.snackbar-success {
  --mdc-snackbar-container-color: #2e7d32;
  --mat-snack-bar-button-color: #ffffff;
}

.snackbar-error {
  --mdc-snackbar-container-color: #d32f2f;
  --mat-snack-bar-button-color: #ffffff;
}

.snackbar-warning {
  --mdc-snackbar-container-color: #ed6c02;
  --mat-snack-bar-button-color: #ffffff;
}

.snackbar-info {
  --mdc-snackbar-container-color: #1976d2;
  --mat-snack-bar-button-color: #ffffff;
}